.container{
    display: flex;
    height: 100vh;
}

.side-img{
    width: min(40vw, 800px);
    position: relative;
    background-image: url("images/valentin-beauvais-yVUQlyRlJSw-unsplash.jpg");
    background-position: center;
    background-size: auto;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    padding: 16px;
    background: rgb(0, 0, 0, 0.5);

    gap: 10px;
}

h1{
    color: white;
    font-size: 28px;
    font-weight: bold;
}

img {
    height: 64px;
    width: 64px;
    filter: invert(100%);
}

.container-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (min-width: 700px) {

}